{%extends '_layout.html'%}
{%block title%}
    <title>Cadastre-se</title>
{%endblock%}

<!-- CADASTRAR NOVO CLIENTE -->

{%block main%}
    <h1>Cadastre-se</h1>
    <form action="/cadastro" method="POST">
        <label for="usuario">Usuario: </label>
        <input type="text" name="usuario">
        <label for="senha">Senha:</label>
        <input type="password" name="senha">
        <label for="senha">Confirmar Senha:</label>
        <input type="password" name="confirmar-senha">
        <label for="nome">Nome Completo:</label>
        <input type="text" name="nome">
        <label for="email">E-mail:</label>
        <input type="text" name="email">
        <label for="cpf">CPF::</label>
        <input type="text" name="cpf">
        
        <button type="submit">Cadastrar</button>
    </form>
    <a href="/">Voltar</a>
{%endblock%}