{%extends '_layout.html'%}
{%block title%}
Produtos que estão a venda
{%endblock%}

{%block main%}

<!-- HISTORICO DE PRODUTOS QUE O CLIENTE VENDEU OU ESTA VENDENDO -->

<table>
    <thead>
        <tr colspan="4">Histórico de produtos</tr>
    </thead>
    <tbody>
        <tr><td>Nome</td><td>Descrição</td><td>Preço</td><td>Vendido</td></tr>
        {%for produto in produtos%}
        <tr><td>{{produto.nome}}</td>
            <td>{{produto.descricao}}</td>
            <td>{{produto.preco}}</td>
            <td>{%if produto.vendido == 1 %} Sim {%else%} Não {%endif%}</td></tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}
