{%extends '_layout.html'%}
{%block title%}
    <title>Cadastrar novo aluno</title>
{%endblock%}
{%block main%}
    <h1>Digite as notas do aluno : {{aluno.nome}}</h1>
    <form action="/aluno/{{aluno.id}}/editar_notas" method="POST">
        <label for="idade">Português</label>
        <input type="number"  name="portugues">
        <label for="idade">Matemática</label>
        <input type="number"  name="matematica">
        <label for="idade">Geografia</label>
        <input type="number"  name="geografia">
        <label for="idade">Ciências</label>
        <input type="number"  name="ciencias">
        <label for="idade">Inglês</label>
        <input type="number"  name="ingles">
        <button type="submit">Atribuir Notas</button>
        
    </form>
    <a class="botao_index" href="/aluno/{{aluno.id}}">VOLTAR</a>
{%endblock%}