.principal{
    background-color: black;
    color: mediumaquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.media-ponderada{
    border: 1px solid mediumaquamarine;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notas{
    margin-block: 8px;
}

.notas select{
    font-weight: bold;
}

.media-ponderada button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px;
}

.resultado{
    margin-block: 30px;
    font-weight: bold;
    font-size: 20px;
}





