{% extends '_layout.html' %}
{% block title %}
    <title>Bem vindo a escola!</title>
{% endblock %}
{% block main %}
    <h1>Bem vindo a Escola </h1>
    <h2>Lista de alunos:</h2>
    <table>
        <thead>
            <tr><td>Nome</td><td>Idade</td><td>Matricula</td><td>Deletar</td></tr>
        </thead>
        <tbody>
        {%for i in lista_alunos%}
            <tr><td>{{i['nome']}}</td>
            <td>{{i['idade']}}</td>
            <td>{{i['matricula']}}</td>
            <td><a href="/remover_aluno/{{i['matricula']}}">Remover</a></td>
        {%endfor%} 
        </tbody>
    </table>
    <a href="/cadastro">Clique aqui para adicionar um novo aluno!</a>
{% endblock %}
