{%extends '_layout.html'%}
{% block title %}
    <title>Velocímetro</title>
{% endblock %}
{% block main %}
    <h1 class="titulo">Medidor de Velocidade</h1>
    <div class="caixaformulario">
        <form action="/" method="POST">
            <label for="velocidade">Insira a velocidade do carro:</label>
            <input type="number" name="velocidade" id="velocidade">
            <button type="submit">Verificar</button>
        </form>
        <p>{{info}}</p>
    </div>
{% endblock %}