{%extends '_layout.html'%}
{%block title%}
    <title>Bem vindo.</title>
{%endblock%}
{%block main%}
    <h1>Gerenciador de contas.</h1>
    <form action="/verificar_usuario" method="POST">
        <p>Informe o e-mail e senha da pessoa cadastrada.</p>
        <label for="email">E-mail:</label>
        <input type="text" name="email">
        <label for="senha">Senha:</label>
        <input type="password" name="senha">
        <button type="submit">Login</button>

    </form>

    <a href="/cadastro">Novo usuario</a>
    <a href="/pessoas">Lista de pessoas cadastradas.</a>
{%endblock%}