.principal{
    display: flex;
    flex-direction: column;
    background-color: lightyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
}

.titulo{
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}

.times{
    text-align: center;
}
.times img{
    width: 70px;
    height: 70px;
}

.times p{
    margin: 50px;
    text-align: left;
}

.conclusao{
    text-align: center;
}
.conclusao p{
    margin: 30px;
}