body{
    background: rgb(36, 36, 34);
    color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botao_index{
    background: yellow;
    border: 3px solid black;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    margin: 5px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}
.listar_cadastrar{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 10%;
}
form{
    display:inline-flex;
    flex-direction: column;

}
form > button{
    background: yellow;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    width: 100px;
    margin: 10px;
}
table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
}
.comando_lista{
    text-decoration: none;
    color: lightgreen;
}
.edicao{
    display: flex;
}