{%extends '_layout.html'%}
{%block title%}
    <title>{{aluno.nome}}</title>
{%endblock%}
{%block main%}
    <h1>Bem vindo {{aluno.nome}}</h1>
    <table>
        <tr><th colspan="4">DADOS CADASTRAIS</th></tr>
        <tr><th>Nome</th><th>Idade</th><th>Turma</th><th>Telefone</th></tr>
        <tr><td>{{aluno.nome}}</td><td>{{aluno.idade}}</td><td>{{aluno.turma}}</td><td>{{aluno.telefone}}</td></tr>
    </table>
    <br>
    <table>
        <tr><th colspan="5">NOTAS</th></tr>
        <tr><th>Português</th><th>Matemática</th><th>Geografia</th><th>Ciências</th><th>Inglês</th></tr>
        <tr><td>{{aluno.portugues}}</td><td>{{aluno.matematica}}</td><td>{{aluno.geografia}}</td><td>{{aluno.ciencias}}</td><td>{{aluno.ingles}}</td></tr>
    </table>
    <br>
    <div class="edicao">
    <a class="botao_index" href="/aluno/{{aluno.id}}/editar">EDITAR ALUNO</a>
    <a class="botao_index" href="/aluno/{{aluno.id}}/notas">EDITAR NOTAS</a>
    </div>
    <a class="botao_index" href="/listar_alunos">VOLTAR</a>
{%endblock%}