{%extends '_layout.html'%}
{%block title%}
<title>Insira a senha</title>
{%endblock%}
{%block main%}
<h1 class="titulo">Bem vindo</h1>
<div class="frame_numeros">
    <form action="/senha" method="post">
        <p>Digite a senha:</p>
        <input type="password" value="" name="senha" id="senha" readonly>
        <table>
            <tr>
                <th><button type="button" onclick="pressionar_botao('1')" >1</button></th>
                <th><button type="button" onclick="pressionar_botao('2')" >2</button></th>
                <th><button type="button" onclick="pressionar_botao('3')" >3</button></th>
            </tr>
            <tr>
                <th><button type="button" onclick="pressionar_botao('4')" >4</button></th>
                <th><button type="button" onclick="pressionar_botao('5')" >5</button></th>
                <th><button type="button" onclick="pressionar_botao('6')" >6</button></th>
            </tr>
            <tr>
                <th><button type="button" onclick="pressionar_botao('7')" >7</button></th>
                <th><button type="button" onclick="pressionar_botao('8')" >8</button></th>
                <th><button type="button" onclick="pressionar_botao('9')" >9</button></th>
            </tr>
            <tr>
                <th><button type="button" onclick="pressionar_botao('0')" >0</button></th>
            </tr>
            
        </table>
        <button class="solicitar" type="submit" target="info" > Entrar </button>
        <button class="cadastrar" type="button" onclick="pagina_cadastro()" > Cadastrar Senha </button>
    </form>
</div>
<p>{{info}}</p>
{%endblock%}